{{!-- Partial view to build out individual burger list items and button --}}
<li>
    {{burger_name}}

    {{#if devoured}}
        <button class="eat-burger btn btn-cyan btn-sm" data-id="{{id}}" data-eatenstate="{{devoured}}">
            Devour it!
        </button>
    {{/if}}
</li>